* {
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

.card-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 0;
  background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.add-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

fieldset {
  border-radius: 10px;
  padding: 10px;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 600px;
  margin-bottom: 100px;
  color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  font-size: 25px;
}

.add input {
  width:90%;
  height: 45px;
  margin: 20px 10px 30px;
  color: #fff;
  background-color: rgba(136, 136, 136, 0.411);
  border: none;
  outline: none;
  font-size: 20px;
  padding: 15px;
}

.add textarea {
  width: 90%;
  height: 280px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(136, 136, 136, 0.411);
  resize: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 15px;
}

.add textarea::placeholder{
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  margin: 10px;
}

#saveBtn {
  color: rgba(255, 0, 0, 0);
  text-shadow: 1px 1px 2px rgba(72, 255, 0, 0.8);
}

#saveBtn:hover {
  transform: translate(0px, 0px) rotate(360deg) scale(1.5);
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  font-size: 25px;
}

select {
  font-size: 20px;
  padding: 15px;
  margin: 10px;
  width: 90%;
  background-color: rgba(136, 136, 136, 0.411);
  color: #888;
  outline: none;
  border-radius: 10px;
  border: none;

}

#deleteBtn {
  color: rgba(255, 0, 0, 0);
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.8);
}

#deleteBtn:hover {
  transform: translate(0px, 0px) rotate(360deg) scale(1.5);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10%;
  width: 80%;
  color: rgba(255, 255, 255, 0);
}

.card {
  font-family: 'Indie Flower', cursive;
  width: 270px;
  height: 270px;
  margin: 25px;
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-box-shadow: 5px 5px 15px 5px #888; 
  box-shadow: 0px 0px 5px 5px #888;
  transform: translate(0px, 0px) rotate(-8deg);
  
}

.card-title {
  text-align: center;
  padding: 50px 50px 10px 50px;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.card-note {
  text-align: center;
  padding: 0px 50px 10px 50px;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(255, 153, 0, 0.8);
}

.open {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: rgba(0, 128, 0, 0);
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 132, 255, 0.7);
  transition: 0.5s;
}

.open:hover {
  transform: translate(0px, 0px) rotate(360deg) scale(1.5);
}

/* NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE */

.noteDisappear {
  display: none;
}

.appear {
  display: inherit;
}

#wholeNote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 300px;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  background: radial-gradient(#fdff93, #fbff00);
  position: fixed;
  box-shadow: 7px 7px 9px 9px rgba(0, 0, 0, 0.801);
  top: 30vh;
  left: 30%;
  z-index: 3;
}

#wholeNote h4 {
  font-size: 50px;
}

#note {
  margin: 0 20px;
}

.fa-times {
  position: fixed;
  top: 32vh;
  left: 66vw;
  z-index: 3;
  font-size: 30px;
  color: red;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  z-index: 100;
}

.fa-times:hover {
  color: black;
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.7);
}